.bg-color-red{
  background-color: indianred;
}

.bg-color-blue{
  background-color: lightskyblue;
}

.fg-color-white{
  color: white;
}

.bg-color-yellow{
  background-color: yellow;
}

.wd-element-margin {
  margin: 15px 0;
  width: 100%;
}

input[type=text]{
  width: 100%;
  padding: 6px 40px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.explore-bar {
  position: relative;
}

.explore-bar-pos{
  position: absolute;
  left: 10px;
  top: 12px;
  color: gray;
}
.gear-pos{
  position: relative;
  right: 10px;
  float: right;
  color: #0b5ed7;
}

.rounded-corners-all-around {
  border-radius: 40px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 1.5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-title-font {
  font-weight: bold;
  font-size: 35px;
  color: white;
}

.card-title-pos {
  z-index: 1;
  bottom: 3%;
  left: 2%;
}

.follow-row {
  height: 50px;
  padding-right: 10px;
}

.follow-btn-col {
  line-height: 45px;
}
/*copy from explore.css*/


.wd-border-grey {
  border-color: darkgray;
  border-width: 2px;
  border-style: solid;
}

.wd-bg-color-grey {
  background-color: darkgray;
}


.wb-search-bar{
  border-radius: 50px;
  width: 80%;
  height: 30px;
}

.wd-input-text-white{
  -webkit-text-fill-color: white;
}


.wd-margin-left-12px {
  margin-left: 12px;
}

.wd-highlighted-color {
  color: rgb(29, 161, 242);
}

.wd-font-color {
  color: rgb(110, 118, 125);
}



.wd-grids .wd-grid-header {
  display: flex;
  align-items: center;
}
.wd-grids .wd-grid-header > div {
  font-size: 15px;
  font-weight: bold;
  width: calc(100% / 6);
  /*text-align: center;*/
  padding: 16px;
}

.wd-pos-relative-nudge {
  position: relative;
  top: 15px;
}

.wd-grid-indicator {
  position: relative;
  width: calc(100% / 6);
  height: 5px;
  background-color: rgb(29, 161, 242);
}

.wd-split-line {
  position: relative;
  height: 3px;
  background-color: rgb(110, 118, 125);
}
.wd-split-line-subline {
  height: 10px;
  background-color: rgb(35, 35, 35);
}


.wd-post-margin {
  margin-left: 16px;
}

.wb-label {
  color: rgb(110,118,125);
  font-size: 13px;
}

.display-inline {
  display: inline;
}

.wb-title {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.wb-v-align-center {
  vertical-align: middle;
}

.pad-right-16 {
  padding-right: 16px;
}


.wb-post-img {
  /*border-radius: 10px;*/
  /*!*height: 100%;*!*/
  /*width: 100%;*/
  /*vertical-align: middle;*/
  border-radius: 15px;
  /*height: 100%;*/
  width: 100%;
  vertical-align: middle;
}

wb-img-display {
  display: table-cell;
  vertical-align: middle;
}

.wd-posts {
  height: 120px;
}

.card-body {
  flex: 1 1 auto;
  padding: 0;
}

.post-text{
  width: 80%;
}

.wb-avatar-img {
  /*padding-top: 10px;*/
  border-radius: 20px;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.follow-btn {
  vertical-align: middle;
  width: 100%;
}